<html>
<head><title>Insert Page</title></head>
<body>
<form action="insert" method="post">
Emp_Id<input type="text" name="empid" />
Emp_Name<input type="text" name="empname" />
Emp_Salary<input type="number" step="0.01" name="empsalary" />
<input type="submit" value="insert" />
</form>
</body>
</html>
